extends ../../layouts/default

mixin bom(bom)
	.bom(data-ks-editable=editable(user, { list: 'BOM', id: bom.id }))
		h2: a(href='/boms/bom/' + bom.slug)= bom.title
		p.lead.text-muted Bill of Materials
			if bom.publishedDate
				| &nbsp;on #{bom._.publishedDate.format('MMMM Do, YYYY')} 
			if bom.categories && bom.categories.length
				| in 
				each cat, i in bom.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < bom.categories.length - 1
						| , 
					else
						|  
			if bom.createdBy
				| by #{bom.createdBy.name.first}
		if bom.image.exists
			img(src=bom._.image.fit(160,160)).img.pull-right

block intro
	.container
		h1= data.category ? data.category.name : 'Bill of Materials'

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.boms.results.length
					if data.boms.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.boms.first}
							|  to 
							strong #{data.boms.last}
							|  of 
							strong #{data.boms.total}
							|  boms.
					else
						h4.text-weight-normal Showing #{utils.plural(data.boms.results.length, '* bom')}.
					.blog
						each bom in data.boms.results
							+bom(bom)
					
					if data.boms.totalPages > 1
						ul.pagination
							if data.boms.previous
								li: a(href='?page=' + data.boms.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.boms.pages
								li(class=data.boms.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.boms.totalPages : 1) : p ))= p
							if data.boms.next
								li: a(href='?page=' + data.boms.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.boms.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no boms in the category #{data.category.name}.
					else
						h3.text-muted There are no Bill of Materials yet.
		
		//- if data.categories.length
		//- 	.col-sm-4.col-md-3
		//- 		h2 Categories
		//- 		.list-group(style='margin-top: 70px;')
		//- 			a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
		//- 			each cat in data.categories
		//- 				a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
