extends ../../layouts/default

block css
	link(rel='stylesheet', href='/styles/search.min.css')

block intro
	.container
		h1= 'Octopart Part Search API'

block content
	.container
		.row
			if formData.query
				p You searched for
					strong  #{formData.query}.

	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
					form.contact-form(method="post")
						input(type='hidden', name='action', value='part.search')
						input(type='hidden', name='limit', value='5')
						.input-group.stylish-input-group
							input.form-control(type='text', name='query', placeholder='Search by part number or keyword', aria-describedby='search')
							|
							span.input-group-addon
								button(type='submit')
									span.glyphicon.glyphicon-search
						small#searchHelp.form-text.text-muted Try something like
							strong  SN74S74N

	.container
		.row
			p Found a total of <strong>#{matches}</strong> matches.

	if data
		if matches > 0
			- var results = JSON.parse(data.json).items
			.container.results
				.row
					div.panel.panel-default
						h3.panel-heading Search Results
						table.table
							thead
								tr
									th #
									th
										i.fa.fa-picture-o(aria-hidden="true")
									th Manufacturer Part Number (MPN)
									th Manufacturer
									th Datasheet
									th
										i.fa.fa-cog.brand-octopart(aria-hidden="true") Octopart
							tbody
								each item, index in results
									if item
										tr
											th(scope="row")= index+1
											td
												if item.imagesets[0]
													- var imgUrl1 = item.imagesets[0].medium_image.url
													- var alt1 = item.imagesets[0].credit_string;
													img(src=imgUrl1, alt=alt1, width='60')
												else
													img.media-object(src='/images/microchip-trans-40.png', alt='default image',  width='60')
											td= item.mpn
													i.fa.fa-external-link(aria-hidden='true',style="padding-left: 2px")
											td
												- var urlBrand = item.brand.homepage_url
												a(href=urlBrand, target="_blank") #{item.brand.name}
											td
												//Find the first PDF
												each datasheet, index in item.datasheets
													- if (datasheet.mimetype === 'application/pdf')
														- var urlDatasheet = datasheet.url
														a(href=urlDatasheet, target="_blank")
															i.fa.fa-file-pdf-o(aria-hidden='true', style="padding-right: 3px")
															span Datasheet at #{datasheet.attribution.sources[0].name}
														- break;
											td
												- var urlOctopart = item.octopart_url
												a(href=urlOctopart, target="_blank") More Info

			//- .container.code-results
			//- 	.row
			//- 		each item, index in results
			//- 			if item
			//- 				pre(id='#searchResults'+'-'+index,class="searchResults")= JSON.stringify(item, null, 2)

block js
	script.
		if ($('.searchResults').length > 0){
			$('.searchResults').each(function(index, item){
				$(item).html(syntaxHighlight($(item).text()));
			});
		}

		function syntaxHighlight (json) {
			if (typeof json !== 'string') {
				json = JSON.stringify(json, undefined, 2);
			}
			json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
			return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
				var cls = 'number';
				if (/^"/.test(match)) {
					if (/:$/.test(match)) {
						cls = 'key';
					} else {
						cls = 'string';
					}
				} else if (/true|false/.test(match)) {
					cls = 'boolean';
				} else if (/null/.test(match)) {
					cls = 'null';
				}
				return '<span class="' + cls + '">' + match + '</span>';
			});
		}
