extends ../../layouts/default

block css
	link(rel='stylesheet', href='/styles/search.min.css')

block intro
	.container
		h1= 'Octopart Part Search API'

block content
	.container
		.row
			if formData.query
				p You searched for
					strong  #{formData.query}.

	.container
		.row
			.col-sm-6.col-sm-offset-3
				#imaginary_container
					form.contact-form(method="post")
						input(type='hidden', name='action', value='part.search')
						.input-group.stylish-input-group
							input.form-control(type='text', name='query', placeholder='Search by part number or keyword', aria-describedby='search')
							|
							span.input-group-addon
								button(type='submit')
									span.glyphicon.glyphicon-search
						small#searchHelp.form-text.text-muted Try something like
							strong  SN74S74N

	.container
		.row
			p Found a total of <strong>#{matches}</strong> matches.

	if data
		if matches > 0
			- var results = JSON.parse(data.json).items
			.container.results
				.row
					each item, index in results
						div.card-deck
							if item
								div.card
									img.card-img-top(src="",alt="")
									div.card-block
										h4.card-title= item.mpn
											i.fa.fa-external-link(aria-hidden='true',style="padding-left: 2px")
										- var url1 = item.brand.homepage_url
										p.card-text
											a(href=url1, target="_blank")
										- var url2 = item.octopart_url
										p.card-text
											a(href=url2, target="_blank") #{item.brand.name}

			.container.code-results
				.row
					each item, index in results
						if item
							pre#searchResults= JSON.stringify(item, null, 2)

block js
	script.
		if ($('#searchResults').length > 0){
			$('#searchResults').html(syntaxHighlight($('#searchResults').text()));
		}

		function syntaxHighlight (json) {
			if (typeof json !== 'string') {
				json = JSON.stringify(json, undefined, 2);
			}
			json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
			return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
				var cls = 'number';
				if (/^"/.test(match)) {
					if (/:$/.test(match)) {
						cls = 'key';
					} else {
						cls = 'string';
					}
				} else if (/true|false/.test(match)) {
					cls = 'boolean';
				} else if (/null/.test(match)) {
					cls = 'null';
				}
				return '<span class="' + cls + '">' + match + '</span>';
			});
		}
